* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #151515;
}

.manrope- {
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

header {
    padding: 16px 0;
    background-color: #000000;
}

header nav li {
    display: inline;
    margin-left: 16px;
    font-size: 18px;
}

header nav li a {
    color: white;
    text-decoration: none;
    font-weight: 500;
}
header img{
    height: 100px;
}

.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

header .container,
#about .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Brand-list img {
    height: 40px;
}

.Brand-list li {
    display: inline;
    margin-right: 8px;
}

section .container {
    align-items: flex-start;
}

section {
    padding: 24px 0;
}

section h2 {
    margin-bottom: 16px;
}

section p {
    margin-bottom: 8px;
}

header h1,
section {
    color: white;
}

.store-front {
    margin-right: 32px;
    width: 800px;
}

#contact .container {
    display: block;
}

.contact-methods {
    display: flex;
    justify-content: space-between;
}

form input,
form textarea,
form button {
    display: block;
    width: 320px;
    margin-bottom: 8px;
    padding: 8px;
}

form textarea {
    resize: none;
    height: 180px;
}

form button {
    background-color: #000000;
    color: white;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #4a4a4a;
}

input:focus, textarea:focus {
    outline-color: #000000;
}

.social-links img {
    height: 24px;
}

.social-links li {
    display: inline;
    margin-right: 8px;
}

.social-links li a {
    text-decoration: none;
}